@import "tailwindcss";

:root {
}

body {
  overflow-x: hidden;
}

* {
}

.light {
  background: white;
  color: #111;
}

.dark {
  background: #111;
  color: #bbb;
}

.theme {
  transition: 2s all ease;
}
